// Navigation Styles here

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #C0C0C0;

    div {
        padding: 3rem 0;
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}